Repository ChrisKe89/Atticus, changes with the owners that CODEOWNERS names for each.
All owners: @atticus/maintainers, @atticus/docs, @atticus/backend, @atticus/frontend

CODEOWNERS:

# Default ownership for Atticus repository
* @atticus/maintainers

# Documentation specialists
docs/** @atticus/docs

# API and backend packages
src/api/** @atticus/backend
src/atticus/** @atticus/backend
src/retriever/** @atticus/backend
src/ingest/** @atticus/backend

# Frontend and web assets
web/** @atticus/frontend

repo changes
  CHANGELOG.md
  Makefile
  TODO.md
  TODO_COMPLETE.md
  core/schemas/sse.py
  docs/AGENTS.md
  docs/GLOSSARY.md
  docs/RELEASE.md
  lib/sse-events.ts
  schemas/sse-events.schema.json
  scripts/log_todo_completion.py
  scripts/update_changelog_from_todos.py
  tests/test_sse_events.py
  tests/unit/sse-events.test.ts
Owners: @atticus/maintainers, @atticus/docs

repo changes
  TODO.md
  TODO_COMPLETE.md
  logs/app.jsonl
Owners: @atticus/maintainers

repo changes
  TODO.md
  TODO_COMPLETE.md
  logs/app.jsonl
Owners: @atticus/maintainers

web changes
  .env.example
  CHANGELOG.md
  README.md
  REPO_STRUCTURE.md
  VERSION
  admin/components/chat-review-board.tsx
  admin/components/content-manager.tsx
  admin/lib/config.ts
  admin/lib/datetime.ts
  admin/package.json
  api/routes/chat.py
  app/apps/page.tsx
  app/contact/page.tsx
  app/settings/page.tsx
  atticus/vector_db.py
  components/chat/chat-panel.tsx
  components/site-header.tsx
  content/catalog/capabilities.txt
  content/catalog/spec.txt
  content/model/Shobu/ac7070_qna.xlsx
  core/config.py
  docker-compose.yml
  docker/postgres/Dockerfile
  eval/gold_set.csv
  eval/runner.py
  lib/ask-contract.ts
  logs/app.jsonl
  package.json
  reports/phase2-errors.txt
  retriever/query_splitter.py
  retriever/service.py
  scripts/generate_env.py
  seeds/seed_manifest.json
Owners: @atticus/maintainers

web changes
  .env.example
  CHANGELOG.md
  README.md
  REPO_STRUCTURE.md
  VERSION
  admin/components/chat-review-board.tsx
  admin/components/content-manager.tsx
  admin/lib/config.ts
  admin/lib/datetime.ts
  admin/package.json
  api/routes/chat.py
  app/apps/page.tsx
  app/contact/page.tsx
  app/settings/page.tsx
  atticus/vector_db.py
  components/chat/chat-panel.tsx
  components/site-header.tsx
  content/catalog/capabilities.txt
  content/catalog/spec.txt
  content/model/Shobu/ac7070_qna.xlsx
  core/config.py
  docker-compose.yml
  docker/postgres/Dockerfile
  eval/gold_set.csv
  eval/runner.py
  lib/ask-contract.ts
  logs/app.jsonl
  package.json
  reports/phase2-errors.txt
  retriever/query_splitter.py
  retriever/service.py
  scripts/generate_env.py
  seeds/seed_manifest.json
Owners: @atticus/maintainers

fix: forward admin token for metrics proxy
  app/api/admin/metrics/route.ts
  docs/TROUBLESHOOTING.md
  tests/unit/admin-metrics-proxy.test.ts
Owners: @atticus/maintainers, @atticus/docs

fix: forward admin token for metrics proxy
  app/api/admin/metrics/route.ts
  docs/TROUBLESHOOTING.md
  tests/unit/admin-metrics-proxy.test.ts
Owners: @atticus/maintainers, @atticus/docs

web changes
  api/dependencies.py
  logs/app.jsonl
  reports/phase2-errors.txt
Owners: @atticus/maintainers

web changes
  api/dependencies.py
  logs/app.jsonl
  reports/phase2-errors.txt
Owners: @atticus/maintainers

web changes
  CHANGELOG.md
  admin/app/api/glossary/route.ts
  admin/components/glossary-viewer.tsx
  admin/lib/atticus-client.ts
  admin/lib/types.ts
  lib/rls.ts
  logs/app.jsonl
  prisma/seed.ts
  reports/phase2-errors.txt
  tests/test_seed_manifest.py
Owners: @atticus/maintainers

web changes
  CHANGELOG.md
  admin/app/api/glossary/route.ts
  admin/components/glossary-viewer.tsx
  admin/lib/atticus-client.ts
  admin/lib/types.ts
  lib/rls.ts
  logs/app.jsonl
  prisma/seed.ts
  reports/phase2-errors.txt
  tests/test_seed_manifest.py
Owners: @atticus/maintainers

web changes
  logs/app.jsonl
Owners: @atticus/maintainers

web changes
  logs/app.jsonl
Owners: @atticus/maintainers

web changes
  logs/app.jsonl
  reports/phase2-errors.txt
Owners: @atticus/maintainers

web changes
  logs/app.jsonl
  reports/phase2-errors.txt
Owners: @atticus/maintainers

web changes
  admin/components/chat-review-board.tsx
  prisma/seed.ts
  reports/phase2-errors.txt
  scripts/db_seed.py
Owners: @atticus/maintainers

web changes
  admin/components/chat-review-board.tsx
  prisma/seed.ts
  reports/phase2-errors.txt
  scripts/db_seed.py
Owners: @atticus/maintainers

web changes
  docs/it-walkthrough.md
  logs/app.jsonl
Owners: @atticus/docs, @atticus/maintainers

web changes
  docs/it-walkthrough.md
  logs/app.jsonl
Owners: @atticus/docs, @atticus/maintainers

root overview
  docs/root-overview.md
  scripts/export_code_listing.py
Owners: @atticus/docs, @atticus/maintainers

docs: map prompts and retrieval components
  docs/ATTICUS_COMPONENT_MAP.md
Owners: @atticus/docs

docs: map prompts and retrieval components
  docs/ATTICUS_COMPONENT_MAP.md
Owners: @atticus/docs

docs: add end-to-end flow overview
  docs/APP_FLOW.md
Owners: @atticus/docs

docs: add end-to-end flow overview
  docs/APP_FLOW.md
Owners: @atticus/docs

chages
  CHANGELOG.md
  README.md
  VERSION
  app/batch/page.tsx
  components/batch/batch-upload-workspace.tsx
  components/batch/download-template-button.tsx
  components/site-header.tsx
  content/model/Shobu2/Apeos C7071 C6571 C5571 C4571 CSO-FN-CED - 406.pdf
  content/model/Sorai/Advanced/Apeos C3567 C3067 C2567 CSO-FN-CED - 407.pdf
  content/model/Sorai/Basic/Apeos C3061 C2561 C2061 CSO-FN-CED - 409.pdf
  docs/AGENTS.md
  lib/batch-csv.ts
  lib/browser-download.ts
  lib/sse-events.ts
  logs/app.jsonl
  package.json
  pnpm-lock.yaml
  requirements.in
  requirements.txt
  retriever/generator.py
  seeds/seed_manifest.json
  tests/unit/batch-csv.test.ts
  tests/unit/sse-events.test.ts
Owners: @atticus/maintainers, @atticus/docs

chore: ignore generated code_listing.md
  .gitignore
Owners: @atticus/maintainers

chore: ignore generated code_listing.md
  .gitignore
Owners: @atticus/maintainers

changes
  .coverage.DESKTOP-1LU6MF0.20344.XhlDfJtx
  .coverage.DESKTOP-1LU6MF0.22556.XPtZrVmx
  .coverage.DESKTOP-1LU6MF0.30384.XAbFSoKx
  .coverage.DESKTOP-1LU6MF0.31508.XvoRUexx
  .coverage.DESKTOP-1LU6MF0.34360.XYHlvbcx
  .coverage.DESKTOP-1LU6MF0.36744.XJlMPTVx
  .coverage.DESKTOP-1LU6MF0.5716.XBTLbBox
  CHANGELOG.md
  VERSION
  admin/package.json
  api/dependencies.py
  api/routes/chat.py
  components/batch/batch-upload-workspace.tsx
  components/chat/chat-panel.tsx
  components/chat/chat-sidebar.tsx
  components/chat/chat-workspace.tsx
  components/chat/types.ts
  components/chat/use-chat-sessions.ts
  content/catalog/capabilities.txt
  content/catalog/spec.txt
  core/schemas/sse.py
  eval/runner.py
  lib/id.ts
  logs/app.jsonl
  next.config.js
  package.json
  reports/quality/knip-report.json
  reports/quality/summary.json
  reports/quality/ts-prune-report.json
  retriever/generator.py
  retriever/query_splitter.py
  retriever/service.py
  scripts/dead_code_audit.py
  scripts/export_code_listing.py
  scripts/log_todo_completion.py
  scripts/run-knip-audit.mjs
  scripts/update_changelog_from_todos.py
  tests/test_ingestion_retrieval_integration.py
  tests/test_mailer.py
Owners: @atticus/maintainers

changes
  .coverage.DESKTOP-1LU6MF0.12196.XEVjROEx
  .coverage.DESKTOP-1LU6MF0.19644.XoSBpSYx
  .coverage.DESKTOP-1LU6MF0.20344.XhlDfJtx
  .coverage.DESKTOP-1LU6MF0.20624.XUIrGSMx
  .coverage.DESKTOP-1LU6MF0.22556.XPtZrVmx
  .coverage.DESKTOP-1LU6MF0.28732.XaylHZqx
  .coverage.DESKTOP-1LU6MF0.29316.XBwwVuMx
  .coverage.DESKTOP-1LU6MF0.30384.XAbFSoKx
  .coverage.DESKTOP-1LU6MF0.30608.XmrIyapx
  .coverage.DESKTOP-1LU6MF0.31076.XcqUyGDx
  .coverage.DESKTOP-1LU6MF0.31508.XvoRUexx
  .coverage.DESKTOP-1LU6MF0.34360.XYHlvbcx
  .coverage.DESKTOP-1LU6MF0.36744.XJlMPTVx
  .coverage.DESKTOP-1LU6MF0.5716.XBTLbBox
  .coverage.DESKTOP-1LU6MF0.784.XPPCAbyx
  core/config.py
  logs/app.jsonl
  npm.bat
  tests/conftest.py
  tests/test_environment_diagnostics.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers
