Repository ChrisKe89/Atticus, changes with the owners that CODEOWNERS names for each.
All owners: @atticus/maintainers, @atticus/docs, @atticus/backend, @atticus/frontend

force commit: skipping ruff/lint
  .gitignore
  Makefile
  README.md
  web/static/css/theme.css
  web/static/css/theme.modern.css
  web/templates/main.html
  web/templates/main.modern.html
  web/templates/side_menu.html
Owners: @atticus/maintainers, @atticus/frontend

force commit: skipping ruff/lint
  .gitignore
  Makefile
  README.md
  web/static/css/theme.css
  web/static/css/theme.modern.css
  web/templates/main.html
  web/templates/main.modern.html
  web/templates/side_menu.html
Owners: @atticus/maintainers, @atticus/frontend

force commit: skipping ruff/lint
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  web/static/admin.html
  web/static/contact.html
  web/static/css/style.css
  web/static/css/tailwind.css
  web/static/index.html
  web/static/js/contact.js
  web/static/js/script.js
Owners: @atticus/maintainers, @atticus/frontend

force commit: skipping ruff/lint
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  web/static/admin.html
  web/static/contact.html
  web/static/css/style.css
  web/static/css/tailwind.css
  web/static/index.html
  web/static/js/contact.js
  web/static/js/script.js
Owners: @atticus/maintainers, @atticus/frontend

feat(ui): add static chat interface and contact escalation
  CHANGELOG.md
  README.md
  web/static/admin.html
  web/static/contact.html
  web/static/css/style.css
  web/static/index.html
  web/static/js/script.js
Owners: @atticus/maintainers, @atticus/frontend

feat(ui): add static chat interface and contact escalation
  CHANGELOG.md
  README.md
  web/static/admin.html
  web/static/contact.html
  web/static/css/style.css
  web/static/index.html
  web/static/js/script.js
Owners: @atticus/maintainers, @atticus/frontend

feat: replace static UI with templates and smoke scripts
  AGENTS.md
  CHANGELOG.md
  CODEX_PROMPT.md
  Makefile
  README.md
  REPO_STRUCTURE.md
  api/main.py
  api/routes/contact.py
  atticus/notify/__init__.py
  atticus/notify/mailer.py
  content/model/AC7070/ac7070_qna.xlsx
  eval/runs/20250921/metrics.csv
  eval/runs/20250921/summary.json
  eval/runs/20250922/metrics.csv
  eval/runs/20250922/qa_metrics.csv
  eval/runs/20250922/qa_summary.json
  eval/runs/20250922/summary.json
  eval/runs/20250923/metrics.csv
  eval/runs/20250923/summary.json
  eval/runs/20250924/metrics.csv
  eval/runs/20250924/summary.json
  logs/app.jsonl
  scripts/e2e_smoke.py
  scripts/smtp_test.py
  tests/test_contact_route.py
  tests/test_mailer.py
  web/static/admin.html
  web/static/contact.html
  web/static/css/style.css
  web/static/index.html
  web/static/js/app.js
  web/static/js/script.js
  web/templates/admin.html
  web/templates/contact.html
  web/templates/index.html
Owners: @atticus/maintainers, @atticus/frontend

feat: replace static UI with templates and smoke scripts
  AGENTS.md
  CHANGELOG.md
  CODEX_PROMPT.md
  Makefile
  README.md
  REPO_STRUCTURE.md
  api/main.py
  api/routes/contact.py
  atticus/notify/__init__.py
  atticus/notify/mailer.py
  content/model/AC7070/ac7070_qna.xlsx
  eval/runs/20250921/metrics.csv
  eval/runs/20250921/summary.json
  eval/runs/20250922/metrics.csv
  eval/runs/20250922/qa_metrics.csv
  eval/runs/20250922/qa_summary.json
  eval/runs/20250922/summary.json
  eval/runs/20250923/metrics.csv
  eval/runs/20250923/summary.json
  eval/runs/20250924/metrics.csv
  eval/runs/20250924/summary.json
  logs/app.jsonl
  scripts/e2e_smoke.py
  scripts/smtp_test.py
  tests/test_contact_route.py
  tests/test_mailer.py
  web/static/admin.html
  web/static/contact.html
  web/static/css/style.css
  web/static/index.html
  web/static/js/app.js
  web/static/js/script.js
  web/templates/admin.html
  web/templates/contact.html
  web/templates/index.html
Owners: @atticus/maintainers, @atticus/frontend

feat(web): add njk-based site structure
  AGENTS.md
  REPO_STRUCTURE.md
  TODO.md
  web/_site/admin.html
  web/_site/apps.html
  web/_site/assets/css/style.css
  web/_site/assets/css/tailwind.css
  web/_site/assets/js/scripts.js
  web/_site/b3.html
  web/_site/b4.html
  web/_site/contact.html
  web/_site/index.html
  web/_site/settings.html
  web/src/_data/site.json
  web/src/_includes/layouts/base.njk
  web/src/_includes/partials/headerbar.njk
  web/src/_includes/partials/login-modal.njk
  web/src/_includes/partials/sidebar.njk
  web/src/admin.njk
  web/src/apps.njk
  web/src/assets/css/style.css
  web/src/assets/css/tailwind.css
  web/src/assets/js/scripts.js
  web/src/b3.njk
  web/src/b4.njk
  web/src/contact.njk
  web/src/index.njk
  web/src/settings.njk
  web/static/css/style.css
  web/static/css/tailwind.css
  web/static/img/.gitkeep
  web/static/js/contact.js
  web/static/js/script.js
  web/templates/admin.html
  web/templates/contact.html
  web/templates/index.html
Owners: @atticus/maintainers, @atticus/frontend

feat(web): add njk-based site structure
  AGENTS.md
  REPO_STRUCTURE.md
  TODO.md
  web/_site/admin.html
  web/_site/apps.html
  web/_site/assets/css/style.css
  web/_site/assets/css/tailwind.css
  web/_site/assets/js/scripts.js
  web/_site/b3.html
  web/_site/b4.html
  web/_site/contact.html
  web/_site/index.html
  web/_site/settings.html
  web/src/_data/site.json
  web/src/_includes/layouts/base.njk
  web/src/_includes/partials/headerbar.njk
  web/src/_includes/partials/login-modal.njk
  web/src/_includes/partials/sidebar.njk
  web/src/admin.njk
  web/src/apps.njk
  web/src/assets/css/style.css
  web/src/assets/css/tailwind.css
  web/src/assets/js/scripts.js
  web/src/b3.njk
  web/src/b4.njk
  web/src/contact.njk
  web/src/index.njk
  web/src/settings.njk
  web/static/css/style.css
  web/static/css/tailwind.css
  web/static/img/.gitkeep
  web/static/js/contact.js
  web/static/js/script.js
  web/templates/admin.html
  web/templates/contact.html
  web/templates/index.html
Owners: @atticus/maintainers, @atticus/frontend

your commit message
  scripts/smtp_test.py
Owners: @atticus/maintainers

your commit message
  scripts/smtp_test.py
Owners: @atticus/maintainers

your commit message
  AGENTS.md
Owners: @atticus/maintainers

your commit message
  AGENTS.md
Owners: @atticus/maintainers

docs: log error schema task completion
  CHANGELOG.md
  TODO.md
  ToDo-Complete.md
  api/errors.py
  api/main.py
  api/schemas.py
  tests/test_chat_route.py
  tests/test_contact_route.py
  tests/test_error_schema.py
Owners: @atticus/maintainers

docs: log error schema task completion
  CHANGELOG.md
  TODO.md
  ToDo-Complete.md
  api/errors.py
  api/main.py
  api/schemas.py
  tests/test_chat_route.py
  tests/test_contact_route.py
  tests/test_error_schema.py
Owners: @atticus/maintainers

Agents.md change
  AGENTS.md
Owners: @atticus/maintainers

Agents.md change
  AGENTS.md
Owners: @atticus/maintainers

Agents.md change
  TODO.md
  ToDo-Complete.md
Owners: @atticus/maintainers

Agents.md change
  TODO.md
  ToDo-Complete.md
Owners: @atticus/maintainers

Agents.md change
  TODO.md
Owners: @atticus/maintainers

Agents.md change
  TODO.md
Owners: @atticus/maintainers

Agents.md change
  TODO.md
Owners: @atticus/maintainers

Agents.md change
  TODO.md
Owners: @atticus/maintainers

Phase 1
  .env.example
  ARCHITECTURE.md
  README.md
  REPO_STRUCTURE.md
  REQUIREMENTS.md
  TODO.md
  atticus/config.py
  atticus/faiss_index.py
  atticus/vector_db.py
  config.yaml
  docs/ATTICUS_DETAILED_GUIDE.md
  eval/runner.py
  ingest/pipeline.py
  pyproject.toml
  requirements.in
  requirements.txt
  retriever/vector_store.py
  scripts/rollback.py
Owners: @atticus/maintainers, @atticus/docs

Phase 1
  .env.example
  ARCHITECTURE.md
  README.md
  REPO_STRUCTURE.md
  REQUIREMENTS.md
  TODO.md
  atticus/config.py
  atticus/faiss_index.py
  atticus/vector_db.py
  config.yaml
  docs/ATTICUS_DETAILED_GUIDE.md
  eval/runner.py
  ingest/pipeline.py
  pyproject.toml
  requirements.in
  requirements.txt
  retriever/vector_store.py
  scripts/rollback.py
Owners: @atticus/maintainers, @atticus/docs

feat: unify ask API contract
  ARCHITECTURE.md
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  api/main.py
  api/routes/__init__.py
  api/routes/ask.py
  api/routes/chat.py
  docs/api/openapi.json
  package-lock.json
  package.json
  tests/test_chat_route.py
  tests/test_ui_route.py
  web/static/js/script.js
Owners: @atticus/maintainers, @atticus/docs, @atticus/frontend

feat: unify ask API contract
  ARCHITECTURE.md
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  api/main.py
  api/routes/__init__.py
  api/routes/ask.py
  api/routes/chat.py
  docs/api/openapi.json
  package-lock.json
  package.json
  tests/test_chat_route.py
  tests/test_ui_route.py
  web/static/js/script.js
Owners: @atticus/maintainers, @atticus/docs, @atticus/frontend

feat: add Auth.js RBAC layer and glossary admin
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  app/admin/page.tsx
  app/api/auth/[...nextauth]/route.ts
  app/api/glossary/[id]/route.ts
  app/api/glossary/route.ts
  app/api/glossary/utils.ts
  app/layout.tsx
  app/providers.tsx
  app/signin/page.tsx
  app/signin/verify/page.tsx
  components/auth/sign-in-form.tsx
  components/glossary/admin-panel.tsx
  components/site-header.tsx
  docker-compose.yml
  docs/runbooks/auth-rbac.md
  lib/auth.ts
  lib/prisma.ts
  lib/rbac.ts
  lib/rls.ts
  middleware.ts
  next-auth.d.ts
  package-lock.json
  package.json
  playwright.config.ts
  prisma/migrations/20240702120000_auth_rbac/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  scripts/generate_env.py
  tests/playwright/rbac.spec.ts
  tests/unit/rbac.test.ts
  tsconfig.json
  vitest.config.ts
Owners: @atticus/maintainers, @atticus/docs

feat: add Auth.js RBAC layer and glossary admin
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  app/admin/page.tsx
  app/api/auth/[...nextauth]/route.ts
  app/api/glossary/[id]/route.ts
  app/api/glossary/route.ts
  app/api/glossary/utils.ts
  app/layout.tsx
  app/providers.tsx
  app/signin/page.tsx
  app/signin/verify/page.tsx
  components/auth/sign-in-form.tsx
  components/glossary/admin-panel.tsx
  components/site-header.tsx
  docker-compose.yml
  docs/runbooks/auth-rbac.md
  lib/auth.ts
  lib/prisma.ts
  lib/rbac.ts
  lib/rls.ts
  middleware.ts
  next-auth.d.ts
  package-lock.json
  package.json
  playwright.config.ts
  prisma/migrations/20240702120000_auth_rbac/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  scripts/generate_env.py
  tests/playwright/rbac.spec.ts
  tests/unit/rbac.test.ts
  tsconfig.json
  vitest.config.ts
Owners: @atticus/maintainers, @atticus/docs

docs: record TODO completion references
  CHANGELOG.md
  Makefile
  OPERATIONS.md
  README.md
  REQUIREMENTS.md
  TODO.md
  TROUBLESHOOTING.md
  ToDo-Complete.md
  api/main.py
  api/middleware.py
  api/rate_limit.py
  api/routes/admin.py
  api/routes/contact.py
  api/routes/eval.py
  api/schemas.py
  atticus/config.py
  atticus/logging.py
  atticus/metrics.py
  atticus/notify/mailer.py
  atticus/vector_db.py
  docs/ATTICUS_DETAILED_GUIDE.md
  docs/glossary-spec.md
  eval/runner.py
  ingest/chunker.py
  ingest/models.py
  ingest/pipeline.py
  reports/README.md
  reports/sample-eval.csv
  reports/sample-eval.html
  scripts/eval_run.py
  scripts/make_seed.py
  seeds/README.md
  seeds/seed_manifest.json
  tests/test_chat_route.py
  tests/test_chunker.py
  tests/test_eval_runner.py
  tests/test_mailer.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers, @atticus/docs

docs: record TODO completion references
  CHANGELOG.md
  Makefile
  OPERATIONS.md
  README.md
  REQUIREMENTS.md
  TODO.md
  TROUBLESHOOTING.md
  ToDo-Complete.md
  api/main.py
  api/middleware.py
  api/rate_limit.py
  api/routes/admin.py
  api/routes/contact.py
  api/routes/eval.py
  api/schemas.py
  atticus/config.py
  atticus/logging.py
  atticus/metrics.py
  atticus/notify/mailer.py
  atticus/vector_db.py
  docs/ATTICUS_DETAILED_GUIDE.md
  docs/glossary-spec.md
  eval/runner.py
  ingest/chunker.py
  ingest/models.py
  ingest/pipeline.py
  reports/README.md
  reports/sample-eval.csv
  reports/sample-eval.html
  scripts/eval_run.py
  scripts/make_seed.py
  seeds/README.md
  seeds/seed_manifest.json
  tests/test_chat_route.py
  tests/test_chunker.py
  tests/test_eval_runner.py
  tests/test_mailer.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers, @atticus/docs

Log TODO completion for ingestion/retrieval tests
  CHANGELOG.md
  TODO.md
  ToDo-Complete.md
  api/main.py
  requirements.txt
  tests/test_ingestion_retrieval_integration.py
Owners: @atticus/maintainers

Log TODO completion for ingestion/retrieval tests
  CHANGELOG.md
  TODO.md
  ToDo-Complete.md
  api/main.py
  requirements.txt
  tests/test_ingestion_retrieval_integration.py
Owners: @atticus/maintainers

todo adjusted
  TODO.md
Owners: @atticus/maintainers

todo adjusted
  TODO.md
Owners: @atticus/maintainers

docs: publish audit baseline and automation
  AGENTS.md
  AUDIT_REPORT.md
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  README.md
  knip.icons.json
  package-lock.json
  package.json
  pyproject.toml
  scripts/audit_unused.py
  scripts/route-audit.mjs
  scripts/verify_pgvector.sql
Owners: @atticus/maintainers

docs: publish audit baseline and automation
  AGENTS.md
  AUDIT_REPORT.md
  CHANGELOG.md
  IMPLEMENTATION_PLAN.md
  README.md
  knip.icons.json
  package-lock.json
  package.json
  pyproject.toml
  scripts/audit_unused.py
  scripts/route-audit.mjs
  scripts/verify_pgvector.sql
Owners: @atticus/maintainers

chore(phase-0): scaffold audit automation and env template
  IMPLEMENTATION_PLAN.md
  requirements.in
  requirements.txt
  scripts/audit_unused.py
Owners: @atticus/maintainers

chore(phase-0): scaffold audit automation and env template
  IMPLEMENTATION_PLAN.md
  requirements.in
  requirements.txt
  scripts/audit_unused.py
Owners: @atticus/maintainers

CODEOWNERS:

# Default ownership for Atticus repository
* @atticus/maintainers

# Documentation specialists
docs/** @atticus/docs

# API and backend packages
src/api/** @atticus/backend
src/atticus/** @atticus/backend
src/retriever/** @atticus/backend
src/ingest/** @atticus/backend

# Frontend and web assets
web/** @atticus/frontend
