Repository ChrisKe89/Atticus, changes with the owners that CODEOWNERS names for each.
All owners: @atticus/maintainers, @atticus/docs, @atticus/backend, @atticus/frontend

CODEOWNERS:

# Default ownership for Atticus repository
* @atticus/maintainers

# Documentation specialists
docs/** @atticus/docs

# API and backend packages
src/api/** @atticus/backend
src/atticus/** @atticus/backend
src/retriever/** @atticus/backend
src/ingest/** @atticus/backend

# Frontend and web assets
web/** @atticus/frontend

repo cleanup: remove tests and move docs and reports
  .gitignore
Owners: @atticus/maintainers

working changes
  .gitignore
  README.md
  api/dependencies.py
  api/routes/admin.py
  api/routes/chat.py
  api/routes/eval.py
  api/routes/health.py
  api/routes/ingest.py
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/AUDIT_REPORT.md
  docs/IMPLEMENTATION_PLAN.md
  docs/OPERATIONS.md
  docs/RELEASE.md
  docs/REMOTE_ACCESS.md
  docs/REQUIREMENTS.md
  docs/STYLEGUIDE.md
  docs/TROUBLESHOOTING.md
  docs/api/openapi.json
  docs/runbooks/auth-rbac.md
  package-lock.json
  package.json
  reports/md-links-docs_AGENTS_md.txt
  reports/md-links-root.txt
  reports/rotate-secrets-checklist.txt
  scripts/generate_api_docs.py
Owners: @atticus/maintainers, @atticus/docs

working changes
  .gitignore
  README.md
  api/dependencies.py
  api/routes/admin.py
  api/routes/chat.py
  api/routes/eval.py
  api/routes/health.py
  api/routes/ingest.py
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/AUDIT_REPORT.md
  docs/IMPLEMENTATION_PLAN.md
  docs/OPERATIONS.md
  docs/RELEASE.md
  docs/REMOTE_ACCESS.md
  docs/REQUIREMENTS.md
  docs/STYLEGUIDE.md
  docs/TROUBLESHOOTING.md
  docs/api/openapi.json
  docs/runbooks/auth-rbac.md
  package-lock.json
  package.json
  reports/md-links-docs_AGENTS_md.txt
  reports/md-links-root.txt
  reports/rotate-secrets-checklist.txt
  scripts/generate_api_docs.py
Owners: @atticus/maintainers, @atticus/docs

chore: apply ruff auto-fixes
  api/routes/chat.py
  scripts/generate_api_docs.py
Owners: @atticus/maintainers

mermaid flowchart
  docs/diagrams/atticus-detailed.mmd
  docs/diagrams/atticus-simple.mmd
Owners: @atticus/docs

mermaid flowchart
  docs/diagrams/atticus-detailed.mmd
  docs/diagrams/atticus-simple.mmd
Owners: @atticus/docs

repo cleanup
  .vscode/settings.json
  ALL_FILES.md
  MANIFEST.txt
  ingest/parsers/pdf.py
  scripts/export_repo.py
  scripts/verify_pgvector.sql
Owners: @atticus/maintainers

repo cleanup
  .vscode/settings.json
  ALL_FILES.md
  MANIFEST.txt
  ingest/parsers/pdf.py
  scripts/export_repo.py
  scripts/verify_pgvector.sql
Owners: @atticus/maintainers

repo cleanup
  .env.example
  ALL_FILES.md
  TODO.md
  logs/app.jsonl
  scripts/export_repo.py
Owners: @atticus/maintainers

repo cleanup
  .env.example
  ALL_FILES.md
  TODO.md
  logs/app.jsonl
  scripts/export_repo.py
Owners: @atticus/maintainers

feat/query_splitter: implement multi-model decomposition
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  api/routes/chat.py
  docs/runbooks/query_splitter.md
  ingest/parsers/pdf.py
  package-lock.json
  package.json
  retriever/query_splitter.py
  scripts/export_repo.py
  tests/test_chat_route.py
  tests/test_chat_verbose.py
  tests/test_query_splitter.py
Owners: @atticus/maintainers, @atticus/docs

feat/query_splitter: implement multi-model decomposition
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  api/routes/chat.py
  docs/runbooks/query_splitter.md
  ingest/parsers/pdf.py
  package-lock.json
  package.json
  retriever/query_splitter.py
  scripts/export_repo.py
  tests/test_chat_route.py
  tests/test_chat_verbose.py
  tests/test_query_splitter.py
Owners: @atticus/maintainers, @atticus/docs

feat/query_splitter: implement multi-model decomposition
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  api/routes/chat.py
  docs/runbooks/query_splitter.md
  ingest/parsers/pdf.py
  package-lock.json
  package.json
  retriever/query_splitter.py
  scripts/export_repo.py
  tests/test_chat_route.py
  tests/test_chat_verbose.py
  tests/test_query_splitter.py
Owners: @atticus/maintainers, @atticus/docs

feat: admin page extensions
  .env.example
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/app/api/eval-seeds/route.ts
  admin/app/api/ingest/route.ts
  admin/app/page.tsx
  admin/components/document-ingestion-panel.tsx
  admin/components/eval-seed-manager.tsx
  admin/components/glossary-viewer.tsx
  admin/lib/atticus-client.ts
  admin/lib/config.ts
  admin/lib/types.ts
  api/routes/admin.py
  api/schemas.py
  api/utils.py
  docs/ADMIN_SERVICE.md
  docs/OPERATIONS.md
  package-lock.json
  package.json
  tests/test_admin_route.py
Owners: @atticus/maintainers, @atticus/docs

feat: admin page extensions
  .env.example
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/app/api/eval-seeds/route.ts
  admin/app/api/ingest/route.ts
  admin/app/page.tsx
  admin/components/document-ingestion-panel.tsx
  admin/components/eval-seed-manager.tsx
  admin/components/glossary-viewer.tsx
  admin/lib/atticus-client.ts
  admin/lib/config.ts
  admin/lib/types.ts
  api/routes/admin.py
  api/schemas.py
  api/utils.py
  docs/ADMIN_SERVICE.md
  docs/OPERATIONS.md
  package-lock.json
  package.json
  tests/test_admin_route.py
Owners: @atticus/maintainers, @atticus/docs

feat: enrich glossary metadata
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/components/glossary-viewer.tsx
  admin/lib/atticus-client.ts
  admin/lib/types.ts
  api/routes/admin.py
  api/routes/chat.py
  api/schemas.py
  app/admin/page.tsx
  app/api/glossary/[id]/route.ts
  app/api/glossary/route.ts
  app/api/glossary/utils.ts
  atticus/glossary.py
  components/AnswerRenderer.tsx
  components/glossary/admin-panel.tsx
  docs/ADMIN_SERVICE.md
  docs/OPERATIONS.md
  docs/glossary-spec.md
  lib/ask-contract.ts
  package-lock.json
  package.json
  prisma/migrations/20251101080000_glossary_enrichment/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  scripts/db_seed.py
  tests/test_admin_route.py
  tests/test_glossary_hits.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers, @atticus/docs

feat: enrich glossary metadata
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/components/glossary-viewer.tsx
  admin/lib/atticus-client.ts
  admin/lib/types.ts
  api/routes/admin.py
  api/routes/chat.py
  api/schemas.py
  app/admin/page.tsx
  app/api/glossary/[id]/route.ts
  app/api/glossary/route.ts
  app/api/glossary/utils.ts
  atticus/glossary.py
  components/AnswerRenderer.tsx
  components/glossary/admin-panel.tsx
  docs/ADMIN_SERVICE.md
  docs/OPERATIONS.md
  docs/glossary-spec.md
  lib/ask-contract.ts
  package-lock.json
  package.json
  prisma/migrations/20251101080000_glossary_enrichment/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  scripts/db_seed.py
  tests/test_admin_route.py
  tests/test_glossary_hits.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers, @atticus/docs

feat/hybrid_retrieval
  .env.example
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  atticus/config.py
  config.yaml
  eval/__init__.py
  eval/runner.py
  package-lock.json
  package.json
  retriever/service.py
  retriever/vector_store.py
  scripts/eval_run.py
  tests/test_eval_runner.py
  tests/test_ingestion_retrieval_integration.py
Owners: @atticus/maintainers

feat/hybrid_retrieval
  .env.example
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  atticus/config.py
  config.yaml
  eval/__init__.py
  eval/runner.py
  package-lock.json
  package.json
  retriever/service.py
  retriever/vector_store.py
  scripts/eval_run.py
  tests/test_eval_runner.py
  tests/test_ingestion_retrieval_integration.py
Owners: @atticus/maintainers

feat: version prompts and enforce eval thresholds
  .env.example
  CHANGELOG.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  atticus/config.py
  config.yaml
  docs/OPERATIONS.md
  eval/runner.py
  package-lock.json
  package.json
  retriever/generator.py
  retriever/prompts.py
  scripts/eval_run.py
  tests/test_config_reload.py
  tests/test_prompt_templates.py
Owners: @atticus/maintainers, @atticus/docs

feat: version prompts and enforce eval thresholds
  .env.example
  CHANGELOG.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  atticus/config.py
  config.yaml
  docs/OPERATIONS.md
  eval/runner.py
  package-lock.json
  package.json
  retriever/generator.py
  retriever/prompts.py
  scripts/eval_run.py
  tests/test_config_reload.py
  tests/test_prompt_templates.py
Owners: @atticus/maintainers, @atticus/docs

Revise AGENTS.md for continuous execution guidelines
  docs/AGENTS.md
Owners: @atticus/docs

Revise AGENTS.md for continuous execution guidelines
  docs/AGENTS.md
Owners: @atticus/docs

feat/enterprise_boundary_enforcement: enforce trusted perimeter
  .env.example
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  api/main.py
  api/security.py
  app/admin/content/page.tsx
  atticus/config.py
  config.yaml
  package-lock.json
  package.json
  tests/test_trusted_gateway_middleware.py
Owners: @atticus/maintainers

feat/enterprise_boundary_enforcement: enforce trusted perimeter
  .env.example
  CHANGELOG.md
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  api/main.py
  api/security.py
  app/admin/content/page.tsx
  atticus/config.py
  config.yaml
  package-lock.json
  package.json
  tests/test_trusted_gateway_middleware.py
Owners: @atticus/maintainers

feat/split_service_design: enforce split-service ports
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  docker-compose.yml
  docs/ADMIN_SERVICE.md
  docs/ARCHITECTURE.md
  docs/OPERATIONS.md
  docs/diagrams/atticus-detailed.mmd
  docs/diagrams/atticus-simple.mmd
  package-lock.json
  package.json
  reports/admin-service-init.txt
  reports/doc-update-summary.txt
Owners: @atticus/maintainers, @atticus/docs

feat/split_service_design: enforce split-service ports
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  docker-compose.yml
  docs/ADMIN_SERVICE.md
  docs/ARCHITECTURE.md
  docs/OPERATIONS.md
  docs/diagrams/atticus-detailed.mmd
  docs/diagrams/atticus-simple.mmd
  package-lock.json
  package.json
  reports/admin-service-init.txt
  reports/doc-update-summary.txt
Owners: @atticus/maintainers, @atticus/docs

feat: apply security and ci hardening updates
  .env.example
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  .github/workflows/repo-guards.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  api/Dockerfile
  api/errors.py
  api/main.py
  api/middleware.py
  api/rate_limit.py
  atticus/config.py
  docker-compose.yml
  docs/ADMIN_SERVICE.md
  docs/AGENTS.md
  docs/OPERATIONS.md
  docs/RELEASE.md
  docs/REQUIREMENTS.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/runbooks/auth-rbac.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check_version_parity.py
  scripts/generate_env.py
  scripts/wait_for_http.py
  tests/test_api_errors.py
  tests/test_chat_route.py
  tests/test_config_reload.py
  tests/test_rate_limit.py
Owners: @atticus/maintainers, @atticus/docs

feat: apply security and ci hardening updates
  .env.example
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  .github/workflows/repo-guards.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  api/Dockerfile
  api/errors.py
  api/main.py
  api/middleware.py
  api/rate_limit.py
  atticus/config.py
  docker-compose.yml
  docs/ADMIN_SERVICE.md
  docs/AGENTS.md
  docs/OPERATIONS.md
  docs/RELEASE.md
  docs/REQUIREMENTS.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/runbooks/auth-rbac.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check_version_parity.py
  scripts/generate_env.py
  scripts/wait_for_http.py
  tests/test_api_errors.py
  tests/test_chat_route.py
  tests/test_config_reload.py
  tests/test_rate_limit.py
Owners: @atticus/maintainers, @atticus/docs

feat: unify chat stream handling
  CHANGELOG.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  app/admin/page.tsx
  components/chat/chat-panel.tsx
  components/chat/use-ask-stream.ts
  package.json
  prisma/seed.ts
Owners: @atticus/maintainers

feat: unify chat stream handling
  CHANGELOG.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  app/admin/page.tsx
  components/chat/chat-panel.tsx
  components/chat/use-ask-stream.ts
  package.json
  prisma/seed.ts
Owners: @atticus/maintainers

feat: centralize runtime config usage
  TODO.md
  TODO_COMPLETE.md
  atticus/embeddings.py
  atticus/logging_utils.py
  retriever/generator.py
  tests/test_logging_utils.py
Owners: @atticus/maintainers

feat: centralize runtime config usage
  TODO.md
  TODO_COMPLETE.md
  atticus/embeddings.py
  atticus/logging_utils.py
  retriever/generator.py
  tests/test_logging_utils.py
Owners: @atticus/maintainers

feat/data-ops-hardening: sync pgvector settings and backups
  .github/workflows/lint-test.yml
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  atticus/vector_db.py
  core/config.py
  docs/OPERATIONS.md
  docs/runbooks/seeding.md
  package.json
  prisma/migrations/20251115090000_pgvector_metadata_indexes/migration.sql
  scripts/check_backup_integrity.py
  scripts/db_backup.py
  scripts/db_restore.py
  scripts/db_verify.py
  scripts/make_seed.py
  scripts/verify_pgvector.sql
  seeds/seed_manifest.json
  tests/test_config_validation.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers, @atticus/docs

feat/data-ops-hardening: sync pgvector settings and backups
  .github/workflows/lint-test.yml
  CHANGELOG.md
  Makefile
  README.md
  TODO.md
  TODO_COMPLETE.md
  VERSION
  admin/package.json
  atticus/vector_db.py
  core/config.py
  docs/OPERATIONS.md
  docs/runbooks/seeding.md
  package.json
  prisma/migrations/20251115090000_pgvector_metadata_indexes/migration.sql
  scripts/check_backup_integrity.py
  scripts/db_backup.py
  scripts/db_restore.py
  scripts/db_verify.py
  scripts/make_seed.py
  scripts/verify_pgvector.sql
  seeds/seed_manifest.json
  tests/test_config_validation.py
  tests/test_seed_manifest.py
Owners: @atticus/maintainers, @atticus/docs

docs: add sso boundary and support playbook
  TODO.md
  TODO_COMPLETE.md
  docs/OPERATIONS.md
  docs/README.md
  docs/SECURITY.md
  docs/SSO_BOUNDARY.md
Owners: @atticus/maintainers, @atticus/docs

docs: add sso boundary and support playbook
  TODO.md
  TODO_COMPLETE.md
  docs/OPERATIONS.md
  docs/README.md
  docs/SECURITY.md
  docs/SSO_BOUNDARY.md
Owners: @atticus/maintainers, @atticus/docs

readme changes
  ALL_FILES.md
  README.md
  logs/app.jsonl
Owners: @atticus/maintainers

readme changes
  ALL_FILES.md
  README.md
  logs/app.jsonl
Owners: @atticus/maintainers

repo changes
  CHANGELOG.md
  Makefile
  TODO.md
  TODO_COMPLETE.md
  core/schemas/sse.py
  docs/AGENTS.md
  docs/GLOSSARY.md
  docs/RELEASE.md
  lib/sse-events.ts
  schemas/sse-events.schema.json
  scripts/log_todo_completion.py
  scripts/update_changelog_from_todos.py
  tests/test_sse_events.py
  tests/unit/sse-events.test.ts
Owners: @atticus/maintainers, @atticus/docs
